<div class="row">
    <div class="col-md-12">
        <aside style="font-size: large">
            Already have a song stuck in your head? let us help you find it!
            <p *ngIf="!searchFilters[0] && !searchFilters[1] && !searchFilters[2]"> Choose the filters you want to see </p>

            <div class="searchArea row">
                <div class="col-md-3">
                    <label> Artist</label>
                </div>
                <div class="col-md-3">
                    <label> Album</label>
                </div>
                <div class="col-md-3">
                    <label> Genre</label>
                </div>
            </div>
            <div class="searchArea row">
                <div class="col-md-3" >
                    <a (click)="setFilter(artist._id,0)" *ngFor="let artist of ArtistsList">{{artist.name}} <br/></a>
                </div>
                <div class="col-md-3" >
                    <a (click)="setFilter(album._id,1)" *ngFor="let album of AlbumsList">{{album.name}} <br/> </a>
                </div>
                <div class="col-md-3" >
                    <a (click)="setFilter(genre,2)" *ngFor="let genre of GenreList">{{genre}} <br/></a>
                </div>
                <!--<div class="col-md-3">-->
                    <!--@foreach (var genre in @ViewBag.Genres)-->
                    <!--{-->
                    <!--<a href='@Url.Action("setFilter", new { value = genre, pos = 2 })'>@genre</a><br />-->
                    <!--}-->
                <!--</div>-->
            </div>

        </aside>
    </div>
</div>

<div *ngFor="let item of SongsList">

    <div class="row listInfo" [routerLink]="['/song-details', item._id]" >
        <div class="col-md-2" >
            <!--Will be an imade src-->
            <img class="songImageStyle" src="{{item.picture}}"/>
        </div>
        <div class="col-md-10">
            <div class="ListActionBtnPos">
                <a [routerLink]="['/song-details', item._id]" class="ListActionBtn glyphicon glyphicon-info-sign"></a>
            </div>
            <h3 class="ListTitle">{{item.name}}</h3>
            <span>
                {{item.name}} is a song by {{item.artist}}, its main genre is {{item.genre}}
            </span>
        </div>
    </div>
</div>
