<!--<script-->
        <!--src="https://code.jquery.com/jquery-2.2.4.js"-->
        <!--integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="-->
        <!--crossorigin="anonymous">-->
<!--</script>-->
<!--<script src="https://rawgit.com/caleb531/jcanvas/master/jcanvas.min.js"></script>-->

<div *ngIf="album">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="centerAlignment">

                <img *ngIf="album.picture" class="imgTitle" [src]="album.picture"/>

            </div>
            <div class="headerTitle colorC active" [ngClass]="{'headerTitle': album.picture, 'headerTitleNoPic': !album.picture}">
                <div class="actionBtnTitlePos">
                    <a title="Back to List" [routerLink]="['/album']"
                       class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
                    <a title="Edit album" [routerLink]="['/album-edit', album._id]"
                       class="actionBtnTitle glyphicon glyphicon-pencil"></a>
                </div>
                {{album.name}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 MultipleColumns">

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Artist</label>
                </div>
                <div class="col-md-4">
                    <span>{{album.artistName}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Number Of Views</label>
                </div>
                <div class="col-md-4">
                    <span>{{album.views}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="text-align: center;">
            <canvas #myCanvas width=600 height=600></canvas>
        </div>
    </div>

</div>