<nav class="container">
  <!--<img class="bgImage" src="/Images/bgWhite.png" />-->
  <ul class="nav navbar-nav">
    <li class="hvr-bounce-to-top colorA" routerLinkActive="active" [routerLink]="['/home']" >Home</li>
    <li class="hvr-bounce-to-top colorB" routerLinkActive="active" [routerLink]="['/artists']" >Artists</li>
    <li class="hvr-bounce-to-top colorC" routerLinkActive="active" [routerLink]="['/albums']" >Albums</li>
    <li class="hvr-bounce-to-top colorD" routerLinkActive="active" [routerLink]="['/songs']" >Songs</li>
    <li class="hvr-bounce-to-top colorE" routerLinkActive="active" [routerLink]="['/about']" >About</li>
    <li class="hvr-bounce-to-top colorF" routerLinkActive="active" [routerLink]="['/contact']" >Contact</li>

  </ul>
</nav>
