<nav class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" />

  <!--<img class="bgImage" src="/Images/bgWhite.png" />-->
  <ul class="nav navbar-nav">
    <li class="hvr-bounce-to-top colorA" routerLinkActive="active" [routerLink]="['/home']" >Home</li>
    <li class="hvr-bounce-to-top colorB" routerLinkActive="active" [routerLink]="['/artist']" >Artists</li>
    <li class="hvr-bounce-to-top colorC" routerLinkActive="active" [routerLink]="['/album']" >Albums</li>
    <li class="hvr-bounce-to-top colorD" routerLinkActive="active" [routerLink]="['/song']" >Songs</li>
    <li class="hvr-bounce-to-top colorE" routerLinkActive="active" [routerLink]="['/chat']" >Chat</li>
    <li class="hvr-bounce-to-top colorF" routerLinkActive="active" [routerLink]="['/about']" >About</li>
    <li class="hvr-bounce-to-top colorG" routerLinkActive="active" [routerLink]="['/contact']" >Contact</li>

  </ul>
</nav>
