<title>Artists</title>

<div *ngFor="let item of artistsList">
    <div class="row listInfo" [routerLink]="['/artist-details', item._id]">
        <div class="col-md-2" >
            <!--Will be an imade src-->
            <img class="songImageStyle" src="{{item.picture}}"/>
        </div>
        <div class="col-md-10">
            <div class="ListActionBtnPos">
                <a [routerLink]="['/artist-details', item._id]" class="ListActionBtn glyphicon glyphicon-info-sign"></a>
            </div>
            <h3 class="ListTitle">{{item.name}}</h3>
            <span>
                {{item.biography}}
            </span>
        </div>
    </div>
</div>
