<div *ngIf="song">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="centerAlignment">

                <img *ngIf="song.picture" class="imgTitle" src="{{song.picture}}"/>

            </div>
            <div class="headerTitle colorD active" [ngClass]="{'headerTitle': song.picture, 'headerTitleNoPic': !song.picture}">
                <div class="actionBtnTitlePos">
                    <a title="Back to List" [routerLink]="['/song']"
                       class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
                    <a title="Edit Song" [routerLink]="['/song-edit', song._id]"
                       class="actionBtnTitle glyphicon glyphicon-pencil"></a>
                </div>
                {{song.name}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 MultipleColumns">

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Artist</label>
                </div>
                <div class="col-md-4">
                    <span>{{song.artist.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Album</label>
                </div>
                <div class="col-md-4">
                    <span>{{song.album.name}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Genre</label>
                </div>
                <div class="col-md-4">
                    <span>{{song.genre}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Number Of Views</label>
                </div>
                <div class="col-md-4">
                    <span>{{song.views}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!--@if (Html.DisplayFor(model => model.video).ToString().Length > 0)-->
            <!--{-->
            <!--<label>Video Clip</label><br />-->
            <!--<video controls="controls">-->
            <!--<source src="data:video/mp4;base64,@Html.DisplayFor(model => model.video)" type="video/mp4" />-->
            <!--Your browser does not support the video tag.-->
            <!--</video>-->
            <!--}-->
        </div>
    </div>
</div>