 .divChat * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
 }

 .divChat body {
       font: 13px Helvetica, Arial;
 }

 .divChat form {
       background: #000;
       padding: 3px;
       position: fixed;
       bottom: 0;
       margin-bottom: 2vh;
       width: 90vw;
 }

 .divChat form input {
       border: 0;
       padding: 10px;
       width: 89%;
 }

 .divChat form button {
       width: 9.5%;
       background: rgb(130, 224, 255);
       border: none;
       padding: 10px;
       margin-left: 0.5%;
 }

 .divChat #messages {
       list-style-type: none;
       margin: 0;
       padding: 0;
       border: black solid 1px;
       height: 80vh;
       overflow: auto;
       width: 90vw;
 }

 .divChat #messages li {
       padding: 5px 10px;
 }

 .divChat #messages li:nth-child(odd) {
       background: #eee;
 }