<div *ngIf="artist">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="centerAlignment">

                <img *ngIf="artist.picture" class="imgTitle" [src]="artist.picture"/>

            </div>
            <div class="headerTitle colorB active">
                <div class="actionBtnTitlePos">
                    <a title="Back to List" [routerLink]="['/artist']"
                       class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
                    <a title="Edit Artist" [routerLink]="['/artist']"
                       class="actionBtnTitle glyphicon glyphicon-pencil"></a>
                </div>
                {{artist.name}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 MultipleColumns">

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Biography</label>
                </div>
                <div class="col-md-4">
                    <span>{{artist.biography}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label>Number Of Views</label>
                </div>
                <div class="col-md-4">
                    <span>{{artist.views}}</span>
                </div>
            </div>

        </div>
    </div>
</div>